{%load static%}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'gahead.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'stylesheets/output.css' %}">
    {% include 'favicon.html' %}
    <meta name="description" content="800Doctor provides exceptional home healthcare and doctor-on-call services in Dubai, ensuring high-quality, personalized medical care at your doorstep.">
    <title>About Us - 800Doctor</title>

</head>

<body>
    {% include 'gabody.html' %}
    {% include 'alerts.html' %}

    {% include 'whatsapp.html' %}

    {% include 'navbar.html' %}
    <section id="about" class="pt-16 lg:pt-20">
        <div class="section-container">
            <div class="section-image">
                <img src="{% static 'assets/images/about_3.jpg' %}" alt="">
            </div>
            <div class="section-content">
                <h2 class="section-heading">About Us</h2>
                <h2 class="sub-heading">Your Health, Our Commitment: <br>A Journey Since 2007</h2>
                <p>At 800Doctor, we have been transforming healthcare in Dubai since 2007. As a premier provider of doctor-on-call and home healthcare services, we recognized the need for convenient, accessible medical care that fits the busy lifestyles of residents in the UAE.</p>
                <p> With a passion for enhancing patient experiences, we pioneered the concept of in-home medical services, building a dedicated team of licensed healthcare professionals committed to delivering high-quality care at your doorstep. Today, our extensive range of services ensures that individuals can receive expert medical attention wherever they are, whether at home, in the office, or traveling.</p>
            </div>
        </div>
    </section>
    <section id="about" class="bg-light-blue-50">
        <div class="section-container">
            <div class="section-content order-last md:order-first">
                <h2 class="section-heading">Our Misision</h2>
                <h2 class="sub-heading">Transforming Patient <br>Care Delivery</h2>
                <p>Our mission is to provide exceptional healthcare that meets the needs of every individual, particularly those who cannot access traditional medical facilities. We aim to deliver reliable, compassionate, and affordable medical services directly to our patients, ensuring their health and well-being are our top priorities.</p>
            </div>
            <div class="section-image">
                <img src="{% static 'assets/images/about_1.jpg'%}" alt="">
            </div>
        </div>
    </section>
    <section id="about">
        <div class="section-container">
            <div class="section-image">
                <img src="{% static 'assets/images/about_2.jpg'%}" alt="">
            </div>
            <div class="section-content">
                <h2 class="section-heading">Our Vision</h2>
                <h2 class="sub-heading">Optimal 24 hours <br>Health Care</h2>
                <p>We envision a healthcare system where quality medical care is always accessible. Our goal is to revolutionize home healthcare by providing comprehensive, round-the-clock services that cater to the unique needs of each patient. We strive to reduce non-emergency visits to hospitals by offering prompt, professional consultations in the comfort of your home. Our commitment is to expand our exceptional services throughout Dubai and beyond, ensuring everyone can benefit from top-tier healthcare.</p>
            </div>
        </div>
    </section>
    <!-- <section id="timeline">
        <div class="section-container">
            <div class="section-header">
                <h2 class="section-heading text-center">Our Timeline</h2>
                <p>Delivering excellent services through decades</p>
            </div>
            <div class="timeline text-left">
                {% for journey in journeys %}
                <div class="Container {% cycle 'left-container' 'right-container' %}">
                    <div class="img">
                        <span class="timeline-dot"></span>
                    </div>
                    <div class="text-box">
                        <p class="card-heading">{{ journey.journey_title }}</p>
                        <p>{{ journey.journey_description }}</p>
                        <span class="{% if forloop.counter0|divisibleby:2 %}left-container-arrow{% else %}right-container-arrow{% endif %}"></span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section> -->
    
    <section id="features">
        <div class="section-container">
            <div class="section-header">
                <h2 class="section-heading text-center">Why Choose Us</h2>
                <p>Choosing 800Doctor means opting for a healthcare provider that prioritizes your comfort and well-being. Here’s why we stand out:</p>
            </div>
            <div class="features-container">
                <div class="feature-box">
                    <lord-icon src="https://cdn.lordicon.com/ntcrpjuj.json" trigger="hover" class="service-card-icon"
                        colors="primary:#262626,secondary:#0061ff">
                    </lord-icon>
                    <h1 class="card-heading">Exceptional Care</h1>
                    <p>Experience compassionate, personalized healthcare tailored to your needs.</p>
                </div>
                <div class="feature-box">
                    <lord-icon src="https://cdn.lordicon.com/rddqfodm.json" trigger="hover" class="service-card-icon"
                        colors="primary:#262626,secondary:#0061ff">
                    </lord-icon>
                    <h1 class="card-heading">Qualified Professionals</h1>
                    <p>Our team comprises licensed and experienced medical practitioners.</p>
                </div>
                <div class="feature-box">
                    <lord-icon src="https://cdn.lordicon.com/trkmlure.json" trigger="hover" class="service-card-icon"
                        colors="primary:#262626,secondary:#0061ff">
                    </lord-icon>
                    <h1 class="card-heading">Convenience</h1>
                    <p>Enjoy healthcare services delivered to your home, office, or hotel—wherever you are.</p>
                </div>
                <div class="feature-box">
                    <lord-icon src="https://cdn.lordicon.com/asajomrp.json" trigger="hover" class="service-card-icon"
                        colors="primary:#262626,secondary:#0061ff">
                    </lord-icon>
                    <h1 class="card-heading">Patient Satisfaction</h1>
                    <p>Join over 500,000+ satisfied clients who trust us for their healthcare needs.</p>
                </div>
                <div class="feature-box">
                    <lord-icon src="https://cdn.lordicon.com/ynfkqjnz.json" trigger="hover" class="service-card-icon"
                        colors="primary:#262626,secondary:#0061ff">
                    </lord-icon>
                    <h1 class="card-heading">24/7 Availability</h1>
                    <p>Receive round-the-clock support and medical assistance whenever you need it.</p>
                </div>
                <div class="feature-box">
                    <lord-icon src="https://cdn.lordicon.com/bsdkzyjd.json" trigger="hover" class="service-card-icon"
                        colors="primary:#262626,secondary:#0061ff">
                    </lord-icon>
                    <h1 class="card-heading">Affordable Services</h1>
                    <p>Access high-quality healthcare without the high costs associated with healthcare.</p>
                </div>
            </div>
    </section>

    <section id="partners">
        <div class="section-container">
            <div class="section-header">
                <h2 class="section-heading text-center">Our Partners</h2>
                <p>Trusted by companies of all sizes</p>
            </div>
            <div class="partner-grid">
                <div class="partner-logo">
                    <img src="{%static '/assets/partners/alsaada.webp'%}" alt="" class="object-cover">
                </div>
                <div class="partner-logo">
                    <img src="{%static '/assets/partners/better_communities.webp'%}" alt="" class="object-cover">
                </div>
                <div class="partner-logo">
                    <img src="{%static '/assets/partners/damac.webp'%}" alt="" class="object-cover">
                </div>
                <div class="partner-logo">
                    <img src="{%static '/assets/partners/dmcc.webp'%}" alt="" class="object-cover">
                </div>
                <div class="partner-logo">
                    <img src="{%static '/assets/partners/dubai_electricity_and_water_authority.webp'%}" alt=""
                        class="object-cover">
                </div>
                <div class="partner-logo">
                    <img src="{%static '/assets/partners/emirates_nbd.webp'%}" alt="" class="object-cover">
                </div>
                <div class="partner-logo">
                    <img src="{%static '/assets/partners/esaad.webp'%}" alt="" class="object-cover">
                </div>
                <div class="partner-logo">
                    <img src="{%static '/assets/partners/gems_rewards.webp'%}" alt="" class="object-cover">
                </div>
                <div class="partner-logo hidden lg:block">

                </div>
                <div class="partner-logo">
                    <img src="{%static '/assets/partners/gotriage.webp'%}" alt="" class="object-cover">
                </div>
                <div class="partner-logo">
                    <img src="{%static '/assets/partners/hayi.webp'%}" alt="" class="object-cover">
                </div>
                <div class="partner-logo">
                    <img src="{%static '/assets/partners/imdad.webp'%}" alt="" class="object-cover">
                </div>
                <div class="partner-logo">
                    <img src="{%static '/assets/partners/pure_heal.webp'%}" alt="" class="object-cover">
                </div>
                <div class="partner-logo">
                    <img src="{%static '/assets/partners/the_entertainer.webp'%}" alt="" class="object-cover">
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials" class="bg-light-blue-50">
        <div class="section-container">
            <div class="section-header">
                <h2 class="section-heading text-center">What Our Clients Say</h2>
                <p>Hear from our satisfied clients who have experienced our exceptional healthcare services.</p>
            </div>
            <div class="swiper testimonial-swiper overflow-hidden relative ">
                <div class="testimonial-wrapper swiper-wrapper">
                    {% for testimonial in testimonials %}
                    <div class="swiper-slide testimonial-card">
                        <div class="stars text-primary-700">
                            {% for _ in testimonial.full_rating|range_filter %}
                                <i class="bi bi-star-fill"></i>  {# Full star #}
                            {% endfor %}

                            {% if testimonial.half_rating %}
                                <i class="bi bi-star-half"></i>  {# Half star #}
                            {% endif %}

                            {% for _ in testimonial.empty_rating|range_filter %}
                                <i class="bi bi-star"></i>  {# Empty star #}
                            {% endfor %}


                        </div>
                        <p class="person-testimony">
                            "{{ testimonial.testimonial }}"
                        </p>
                        <div>
                            <p class="person-name">{{ testimonial.author }}</p>
                        </div>
                    </div>
                    {% empty %}
                        <p class="text-center">No testimonials available.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="getInTouch">
        <div class="section-container">
            <div class="section-header">
                <h2 class="section-heading text-center">Get in touch</h2>
                <p>We'd love to hear from you. Please fill out this form.</p>
            </div>
            <div class="service-page-contact">

                <iframe class="section-image rounded-none"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.1083480481043!2d55.13546697537745!3d25.064316577796763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6dfe6ae6d063%3A0x9e3781fb69e30573!2s800DOCTOR%20-%20Doctor%20on%20Call%20Dubai%20%7C%20Home%20Nursing%2C%20Home%20IV%20Drip%2C%20Home%20Blood%20Test%2C%20Physiotherapy%20at%20Home%2C%20Home%20Health%20Care%20Dubai!5e0!3m2!1sen!2sin!4v1723834080180!5m2!1sen!2sin"
                    height="100%" width="100%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <form class="form-container" id="enquiryForm" method="post">
                        <div class="dual-input">
                            <div class="input-container">
                                <label for="first-name">First name</label>
                                <input id="first-name" name="first_name" placeholder="First name" type="text" required>
                            </div>
                            <div class="input-container">
                                <label for="last-name">Last name</label>
                                <input id="last-name" name="last_name" placeholder="Last name" type="text" required>
                            </div>
                        </div>
                        <div class="input-container">
                            <label for="email">Email</label>
                            <input id="email" name="email" placeholder="you@company.com" type="email" required>
                        </div>
                        <div class="input-container">
                            <label for="phno">Phone Number</label>
                            <input id="phno" name="phone_number" placeholder="123456789" type="number" required>
                        </div>
                        <div class="input-container">
                            <label for="message">Message</label>
                            <textarea minlength="10" maxlength="999" id="message" name="message" placeholder="Enter Your Message" rows="5" required></textarea>
                        </div>
                        <div class="input-check-label">
                            <input id="terms" name="terms" type="checkbox" required>
                            <label class="input-container-label" for="terms">You agree to our friendly
                                <a class="underline" href="{% url 'privacy-policy' %}">Privacy Policy</a></label>
                        </div>
                        <!-- Add reCAPTCHA widget here -->
                        <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
                        <button type="submit" class="cta-primary">Send Message</button>
                    </form>
            </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('enquiryForm');
            form.addEventListener('submit', (event) => {
                event.preventDefault();

                const recaptchaResponse = grecaptcha.getResponse();
                
                if (!recaptchaResponse) {
                    document.querySelector('.form-warning').classList.remove('hidden');

                    const toastErrorElement = document.getElementById('toast3');
                    toastErrorElement.querySelector('.toast-msg').textContent = 'Please complete the reCAPTCHA verification';

                    setTimeout(() => {
                        document.querySelector('.form-warning').classList.add('hidden');
                    }, 3000);

                    return;
                }

                document.querySelector('.loader').classList.remove('hidden');
        
                const formData = new FormData(form);
        
                const data = {
                    first_name: formData.get('first_name'),
                    last_name: formData.get('last_name'),
                    user_email: formData.get('email'),
                    phone_number: formData.get('phone_number'),
                    message: formData.get('message'),
                    terms: formData.get('terms') === 'on',
                    'g-recaptcha-response': formData.get('g-recaptcha-response')

                };
                var csrftoken = Cookies.get('csrftoken');
                fetch('{% url "general-enquiry" %}', { 
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    }
                })
                .then(response => response.json())
                .then(data => {
                    grecaptcha.reset();
                    if (data.status === 'success') {
                        form.reset();
                        document.querySelector('.loader').classList.add('hidden');

                        document.querySelector('.form-success').classList.remove('hidden');

                        setTimeout(() => {
                            document.querySelector('.form-success').classList.add('hidden');
                        }, 5000);

                    } else {
                        
                        document.querySelector('.loader').classList.add('hidden');
                        
                        document.querySelector('.form-error').classList.remove('hidden');
                        const toastErrorElement = document.getElementById('toast2');
                        toastErrorElement.querySelector('.toast-msg').textContent = data.message;

                        setTimeout(() => {
                            document.querySelector('.form-error').classList.add('hidden');
                        }, 5000);
                    }
                })
                .catch(error => {
                    document.querySelector('.loader').classList.add('hidden');
                    grecaptcha.reset();

                    document.querySelector('.form-error').classList.remove('hidden');

                    setTimeout(() => {
                        document.querySelector('.form-error').classList.add('hidden');
                    }, 5000);
                });
            });
        });
    </script>
    
    {% include 'footer.html' %}
    <script src="{% static 'scripts/whatsapp.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'scripts/swiper.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</body>

</html>