<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../static/stylesheets/output.css">
    <title>Blog page</title>
</head>

<body>
    <section id="blogPage">
        <div class="section-container">
            <div class="section-header">
                <h2 class="section-heading text-center">Latest News And Blogs</h2>
                <p>The latest industry news , interviews , technologies and resources</p>
            </div>
            <div class="more-blogs-container">

                <a class="blog-card" href="">
                    <img src="../static/assets/images/wellnessDr.jpg" class="blog-card-img">
                    <div class="blog-card-content">
                        <p class="blog-category">Design</p>
                        <h1 class="card-heading">Lorem, ipsum dolor.</h1>
                        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, officiis!
                        </p>
                        <div class="blog-author-container">
                            <img src="../static/assets/images/boy.png" class=" h-10 w-10 rounded-full object-cover">
                            <div class="blog-author-details">
                                <h4 class="author-name">Jon Snow</h4>
                                <p class="blog-date">20 Jan 2024</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </section>


    <script src="../static/scripts/whatsapp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/scripts/swiper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

</html>