{% load static %}
<nav class="navbar">
    <div class="navbar-container">
        <a href="/">
            <img src="{% static 'assets/images/pink_favicon.jpg' %}" class="navbar-logo" alt="800Doctor Logo">
        </a>
        <div class="navbar-controls">
            <a href="tel:+971800362867" class="cta-primary hidden xs:inline-flex">Call Us Now</a>
            <button data-collapse-toggle="navbar-sticky" type="button" class="navbar-menu-btn"
                aria-controls="navbar-sticky" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="navbar-sticky">
            <ul class="navbar-links-wrapper">
                <li>
                    <a href="{% url 'home' %}" class="navbar-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="{% url 'services' %}" class="navbar-link {% if request.resolver_match.url_name == 'services' or request.resolver_match.url_name == 'service_detail' %}active{% endif %}" aria-current="page">Services</a>
                </li>
                <li>
                    <a href="{% url 'healthcare_packages' %}" class="navbar-link {% if request.resolver_match.url_name == 'healthcare_packages' or request.resolver_match.url_name == 'book_packages' %}active{% endif %}" aria-current="page">Healthcare Packages</a>
                </li>
                <li>
                    <a href="{% url 'blog-page' %}" class="navbar-link {% if request.resolver_match.url_name == 'blog-page' or request.resolver_match.url_name == 'blog-detail' %}active{% endif %}" aria-current="page">Blogs</a>

                </li>
                <li>
                    <a href="{% url 'about-us' %}" class="navbar-link {% if request.resolver_match.url_name == 'about-us' %}active{% endif %}" aria-current="page">About Us</a>
                </li>
                <li>
                    <a href="{% url 'gallery' %}" class="navbar-link {% if request.resolver_match.url_name == 'gallery' %}active{% endif %}" aria-current="page">Gallery</a>
                </li>
                <li>
                    <a href="{% url 'career-page' %}" class="navbar-link {% if request.resolver_match.url_name == 'career-page' %}active{% endif %}" aria-current="page">Careers</a>
                </li>
            </ul>
        </div>
        
    </div>
</nav>