<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../static/stylesheets/output.css">
    <title>Book Package</title>
</head>

<body>

    <section id="getInTouch">
        <div class="section-container">
            <div class="section-header">
                <h2 class="section-heading text-center">Please fill this for booking a health package</h2>
                <p>We'd love to hear from you. Please fill out this form</p>
            </div>
            <div class="package-info-container">
                <div class="image-container">
                    <img src="../static/assets\images\doc.jpg"
                        alt="doc image">
                </div>
                <form class="form-container">
                    <div class="input-container">
                        <label for="name">Full Name</label>
                        <input id="name" placeholder="Full Name" type="text">
                    </div>
                    <div class="dual-input">
                        <div class="input-container">
                            <label for="email">Email</label>
                            <input id="email" placeholder="you@company.com" type="text">
                        </div>
                        <div class="input-container">
                            <label for="phno">Phone Number</label>
                            <input id="phno" placeholder="123456789" type="number">
                        </div>
                    </div>
                    <div class="input-container">
                        <label for="package">Select Package</label>
                        <select id="package">
                            <option selected>Choose Package</option>
                            <option value="Routine Well-Man Package">Routine Well-Man Package</option>
                            <option value="Executive Well-Man Package">Executive Well-Man Package</option>
                            <option value="Routine Well-Woman Package">Routine Well-Woman Package</option>
                            <option value="Diabetes Assessment Package">Diabetes Assessment Package</option>
                            <option value="Basic Wellness">Basic Wellness</option>
                            <option value="Gold Care">Gold Care</option>
                            <option value="Anemia Profile Screening">Anemia Profile Screening</option>
                        </select>
                    </div>
                    <div class="input-container">
                        <label for="address">Address</label>
                        <textarea id="address" placeholder="Enter your address" rows="5"></textarea>
                    </div>
                    <div class="input-container">
                        <label for="conditions">Pre-Existing Conditions</label>
                        <textarea id="conditions" placeholder="Enter Pre-Existing Conditions" rows="5"></textarea>
                    </div>
                    <div class="dual-input">
                        <div class="input-container">
                            <label for="date">Preffered Date</label>
                            <input id="date" type="date">
                        </div>
                        <div class="input-container">
                            <label for="time">Preferred Time</label>
                            <input id="time" type="time">
                        </div>
                    </div>
                    <div class="input-check-label">
                        <input id="terms" class="rounded" type="checkbox">
                        <label for="terms">You agree to our friendly <a class="underline" href="#">Privacy Policy</a>
                        </label>
                    </div>
                    <a class="cta-primary" href="">Book Now</a>
                </form>
            </div>
    </section>
    
    <script src="../static/scripts/whatsapp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/scripts/swiper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

</html>