{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'stylesheets/output.css' %}">
    <title>Service</title>
</head>

<body>
    {% include 'alerts.html' %}

    {% include 'whatsapp.html' %}

    {% include 'navbar.html' %}

    <section id="getInTouch" class="pt-16 lg:pt-20">
        <div class="section-container">
            <div class="section-header">
                <h2 class="section-heading text-center">Get in touch</h2>
                <p>We'd love to hear from you. Please fill out this form.</p>
            </div>
            <div class="service-info-container">
                <div class="service-info-description">
                    <h1 class="section-heading">Doctor Consultation</h1>
                    <div class="service-description">
                        <img src="{{ service.service_photo.url }}" alt="{{ service.service_name }}" />
                        <p class="service-page-card-desc">{{ service.service_details|safe }}</p>
                    </div>
                </div>
                <form class="form-container" id="serviceEnquiryForm" method="post">
                    <input type="hidden" id="service-id" name="service" value="{{ service.id }}">
        
                    <div class="dual-input">
                        <div class="input-container">
                            <label for="first-name">First name</label>
                            <input id="first-name" name="first_name" placeholder="First name" type="text" required>
                        </div>
                        <div class="input-container">
                            <label for="last-name">Last name</label>
                            <input id="last-name" name="last_name" placeholder="Last name" type="text" required>
                        </div>
                    </div>
                    <div class="input-container">
                        <label for="email">Email</label>
                        <input id="email" name="email" placeholder="you@company.com" type="email" required>
                    </div>
                    <div class="input-container">
                        <label for="phno">Phone Number</label>
                        <input id="phno" name="phone_number" placeholder="123456789" type="number" required>
                    </div>
                    <div class="input-container">
                        <label for="package">Select Source</label>
                        <select id="package" name="source" required>
                            <option value="" disabled selected>Choose Source</option>
                            <option value="Connector Magazine">Connector Magazine</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Email Newsletter">Email Newsletter</option>
                            <option value="Instagram">Instagram</option>
                            <option value="Linkedin">Linkedin</option>
                            <option value="Print Media">Print Media</option>
                            <option value="Online Search">Online Search</option>
                        </select>
                    </div>
                    <div class="input-container">
                        <label for="message">Message</label>
                        <textarea minlength="10" maxlength="999" id="message" name="message" placeholder="Enter Your Message" rows="5" required></textarea>
                    </div>
                    <div class="input-check-label">
                        <input id="terms" name="terms" class="rounded" type="checkbox" required>
                        <label for="terms">You agree to our friendly
                            <a class="underline" href="#">Privacy Policy</a> </label>
                    </div>
                    <!-- reCAPTCHA widget -->
                    <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
                    <button type="submit" class="cta-primary">Request Service</button>
                </form>
            </div>
        </div>
    </section>
    
    <!-- Include reCAPTCHA API -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('serviceEnquiryForm');
            form.addEventListener('submit', (event) => {
                event.preventDefault();
        
                
                const recaptchaResponse = grecaptcha.getResponse();
                
                if (recaptchaResponse.length === 0) {
                    alert('Please complete the reCAPTCHA');
                    return;
                }
                
                document.querySelector('.loader').classList.remove('hidden');
                
                const formData = new FormData(form);
                const data = {
                    first_name: formData.get('first_name'),
                    last_name: formData.get('last_name'),
                    user_email: formData.get('email'),
                    phone_number: formData.get('phone_number'),
                    source: formData.get('source'),
                    message: formData.get('message'),
                    terms: formData.get('terms') === 'on', // Checkbox value is 'on' if checked
                    service: formData.get('service'), // Get the hidden service ID
                    'g-recaptcha-response': recaptchaResponse // Add reCAPTCHA response token
                };
        
                fetch('{% url "service-enquiry" %}', { // Use Django template tag to insert the URL
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token for Django security
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        form.reset();
                        document.querySelector('.loader').classList.add('hidden');

                        document.querySelector('.form-success').classList.remove('hidden');

                        setTimeout(() => {
                            document.querySelector('.form-success').classList.add('hidden');
                        }, 5000);

                    } else {
                        
                        document.querySelector('.loader').classList.add('hidden');
                        
                        document.querySelector('.form-error').classList.remove('hidden');
                        const toastErrorElement = document.getElementById('toast2');
                        toastErrorElement.querySelector('.toast-msg').textContent = data.message;

                        setTimeout(() => {
                            document.querySelector('.form-error').classList.add('hidden');
                        }, 5000);
                    }
                })
                .catch(error => {
                    document.querySelector('.loader').classList.add('hidden');

                    document.querySelector('.form-error').classList.remove('hidden');

                    setTimeout(() => {
                        document.querySelector('.form-error').classList.add('hidden');
                    }, 5000);
                });
            });
        });    
    </script>
    

    <section id="features">
        <div class="section-container">
            <div class="section-header">
                <h2 class="section-heading text-center">Why Choose Us</h2>
                <p>Exceptional Home Healthcare Services</p>
            </div>
            <div class="features-container ">
                <div class="feature-box">
                    <lord-icon src="https://cdn.lordicon.com/ntcrpjuj.json" trigger="hover" class="service-card-icon"
                        colors="primary:#262626,secondary:#0061ff">
                    </lord-icon>
                    <h1 class="feature-title font-semibold text-black"> Home Healing</h1>
                    <p>You can heal at home</p>
                </div>
                <div class="feature-box">
                    <lord-icon src="https://cdn.lordicon.com/asajomrp.json" trigger="hover" class="service-card-icon"
                        colors="primary:#262626,secondary:#0061ff">
                    </lord-icon>
                    <h1 class="feature-title font-semibold text-black"> Satisfied Clients</h1>
                    <p>Join our 100,000+ happy customers </p>
                </div>
                <div class="feature-box">
                    <lord-icon src="https://cdn.lordicon.com/rddqfodm.json" trigger="hover" class="service-card-icon"
                        colors="primary:#262626,secondary:#0061ff">
                    </lord-icon>
                    <h1 class="feature-title font-semibold text-black"> Qualified Experts</h1>
                    <p>Trusted care from skilled professionals</p>
                </div>
                <div class="feature-box">
                    <lord-icon src="https://cdn.lordicon.com/jjoolpwc.json" trigger="hover" class="service-card-icon"
                        colors="primary:#262626,secondary:#0061ff">
                    </lord-icon>
                    <h1 class="feature-title font-semibold text-black"> Personalized Care</h1>
                    <p>Exceptional , friendly and affordable service</p>
                </div>
                <div class="feature-box">
                    <lord-icon src="https://cdn.lordicon.com/trkmlure.json" trigger="hover" class="service-card-icon"
                        colors="primary:#262626,secondary:#0061ff">
                    </lord-icon>
                    <h1 class="feature-title font-semibold text-black"> Anywhere Service </h1>
                    <p>Convinient care at home , office , or hotel.</p>
                </div>
                <div class="feature-box">
                    <lord-icon src="https://cdn.lordicon.com/ynfkqjnz.json" trigger="hover" class="service-card-icon"
                        colors="primary:#262626,secondary:#0061ff">
                    </lord-icon>
                    <h1 class="feature-title font-semibold text-black"> 24/7 Support </h1>
                    <p>Round-the-clock medical asssistance</p>
                </div>
            </div>
    </section>

    {% include 'footer.html' %}

    <script src="{% static 'scripts/whatsapp.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'scripts/swiper.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</body>

</html>