{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'stylesheets/output.css' %}">
    {% include 'favicon.html' %}
    <title>Patient right and responsibility</title>
</head>

<body>
    {% include 'navbar.html' %}

    <section id="termsAndConditions" class="pt-16 lg:pt-20">
        <div class="section-container">
            <div class="section-header">
                <h2 class="section-heading text-center">Terms and Conditions</h2>
                <p>Last Updated: 19th August 2024</p>
            </div>
            <div>
                When you are using the 800Doctor website, you are considered to have read and
                agreed to our terms and conditions. On the website, ‘We’, ‘Us’ and ‘Ourselves’ indicate
                our company. ‘You’ and ‘Your’ indicate you, the reader accepting these terms and
                conditions. These terminologies are applicable to our terms and conditions, privacy
                policy, disclaimer and all other agreements. Usage of these terminologies in any form
                or matter is deemed to refer to the same. <br><br>
                Kindly note that any term indicating the offer, acceptance and/or consideration of any
                payment by any form of meeting or communication in exchange for any of our listed
                services in the interest of the client is subject to and in accordance with prevailing UAE
                Laws.
            </div>
        </div>
    </section> 
    {% include 'footer.html' %}
            <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

</html>